

.logo h1 {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
}

.navigation a {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.header {
  border-bottom: solid 1px black; 
}
