
div {
  border: 1px red solid;
}

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: solid 1px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}

nav a {
  color: black;
}

.logo {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 400px;
}

.logo img {
  margin-right: 10px;
}

nav {
  display: inline-block;
  padding-right: 50px;
}

nav span {
  margin: 0px 15px;
}

.main-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 100px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
