
header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: solid 1px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: black;
}

.logo {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.logo img {
  margin-right: 10px;
}

nav {
  display: inline-block;
  padding-right: 10px;
}

nav span {
  margin: 0px 15px;
}
